<div class="project-block">
  <div class="project-block-header"><%- data.range %> （<%- data.date %>）</div>
  <div class="project-block-content">
    <p class="project-block-content-name"><%- data.name %></p>
    <p class="project-block-content-desc"><%- data.description %></p>
    <div class="project-block-content-buttons">
      <a href="<%- data.link %>" target="_blank" class="project-block-content-button">查看项目</a>
      <a href="/weekly-project/<%- data.range %>/whitepaper" class="project-block-content-button">白皮书</a>
    </div>
  </div>
</div>